
@import url('reset.css');

@font-face {
    font-family: 'old_standard';
    src: url('../fonts/OldStandardTT.ttf');
}

@font-face {
    font-family: 'old_standard_bold';
    src: url('../fonts/OldStandardTTBold.ttf');
}

@font-face {
    font-family: 'crimson';
    src: url('../fonts/CrimsonText.ttf');
}

@font-face {
    font-family: 'crimson_bold';
    src: url('../fonts/CrimsonText-Bold.ttf');
}

@font-face {
    font-family: 'montserrat';
    src: url('../fonts/Montserrat.ttf');
}

@font-face {
    font-family: 'montserrat_italic';
    src: url('../fonts/Montserrat-Italic.ttf');
}


/* Hide the increment and decrement buttons in Chrome, Safari, Edge, and Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Hide the increment and decrement buttons in Firefox */
input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield
}

:root {
/* 
    *
    color-scheme: light dark;
    * #154c79 
    *
*/
    --background-color: rgba(248, 248, 248, 1);
    --text-color: rgba(46, 46, 46, 1);
    --accent-color: rgba(120, 120, 120, 1);
    --action-color: rgba(21, 76, 121, 1);
    --highlight-color: rgba(219, 215, 2, 1);
}

/* Dark Mode Styles */
.dark-mode {
    --background-color: rgba(10, 10, 10, 1);
    --text-color: rgba(247, 247, 247, 1);
    --accent-color: rgba(177, 177, 177, 1);
    --action-color: rgba(43, 152, 242, 1);
    --highlight-color: rgba(249, 245, 27, 1);
}


/* Light Mode Styles */
body {
    background-color: var(--background-color);
    color: var(--text-color);
    min-height: 100vh;
    max-width: 100vw;
    transition: background-color 0.5s, color 0.7s;
}

a {
    color: var(--action-color);
    font-family: 'montserrat';
    font-weight: 500;
    font-size: inherit;
    line-height: inherit; 
}

h2, h3, h4, h5, h6 {
    font-weight: 400;
    font-family: 'crimson';
}

h1 {
    font-size: 3rem; /* 48px */
    line-height: 1.2; /* 1.2 times the font size, which is 57.6px */
}

h2 {
    font-size: 2.25rem; /* 36px */
    line-height: 1.3; /* 46.8px */
}

h3 {
    font-size: 1.875rem; /* 30px */
    line-height: 1.4; /* 42px */
}

h4 {
    font-size: 1.5rem; /* 24px */
    line-height: 1.5; /* 36px */
}

h5 {
    font-size: 1.25rem; /* 20px */
    line-height: 1.3; /* 32px */
}

h6 {
    font-size: 1.1rem; /* 16px */
    line-height: 1.4; /* 25.6px */
}

p {
    line-height: 1.3; /* 24px */
    font-size: 1rem; /* 16px */
    font-family: "SF Pro Text", "Helvetica Neue", Arial, sans-serif;
}

a:hover {
    text-decoration: underline;
}

.accent-text {
    font-size: 0.7rem;
    color: var(--accent-color);
    text-wrap: nowrap;
    padding: 5px 2px;
}

.dark-mode-toggle {
    position: absolute;
    top: 0;
    right: 2rem;
    border: 1px solid var(--highlight-color);
    border-radius: 50px;
}

.dm-checkbox {
  opacity: 0;
  position: absolute;
}

.dm-checkbox-label {
  background-color: #111;
  width: 50px;
  height: 26px;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa-moon {color: #f1c40f;}

.fa-sun {color: #f39c12;}

.dm-checkbox-label .dm-ball {
  background-color: #fff;
  width: 22px;
  height: 22px;
  position: absolute;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}


.dm-checkbox:checked + .dm-checkbox-label .dm-ball {
  transform: translateX(24px);
}

.title {
    color: var(--text-color);
    font-family: 'old_standard';
    font-weight: 800;
}

.header {
    width: 100vw;
    margin-bottom: 2rem;
    text-align: center;
    position: relative;
}

.header > h1 {
    font-size: 2.3rem;
    margin: 1.5rem 0rem;
}

.header > h1 > a:hover {
    text-decoration: none;
}

.header > hr, footer > hr {
    padding: 0;
    margin: 0;
    border: none;
    height: 0.1px;
    background: var(--text-color);
}

.header > nav {
    margin: 0 auto;
    padding: 1rem 0rem;
    align-items: center; 
}

.header ul, ol {
    list-style: none;
    padding: 0;
}

.header > nav > ol {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.header > nav > ol > li > a {
    font-size: 0.9rem;
    padding: 0 1rem;
    overflow: hidden;
    white-space: nowrap;
}

/* Media query for small screens */
@media (max-width: 768px) {
    .header > h1 {
        font-size: 1.8rem;
    }
    .header > nav {
        max-width: 95vw;
    }

    .header > nav > ol {
        justify-content: space-evenly;
        gap: 15px 5px;
    }
}

.hint {
    width: 100%;
    padding: 1rem 1.5rem;
    background-color: rgba(46, 139, 87, 0.05);
    color: var(--highlight-color);
    box-shadow: rgba(46, 139, 87, 0.6) 0px 2px 5px -1px, rgba(46, 139, 87, 0.5) 0px 1px 3px -1px;
    border-radius: 2px;
}


footer {
    margin-top: 1.5rem;
    margin-bottom: 2rem;
}

footer > .title {
    margin: 0.7rem 2rem;
    font-size: 1.3rem;
}

footer > .f-links {
    margin: 0.7rem 2rem;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-wrap: wrap; 
}

footer > .f-links > a {
    color: var(--text-color);
    font-weight: 500;
    padding: 10px;
    color: var(--action-color);

}

footer > .sub-hr{
    width: 60%;
    margin: auto;
}

footer > .f-legal {
    margin: 2rem auto;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap; 
}











