

{{ define "footer" }}
<footer>
    <hr>
    <h3 class="title"> The Lethil Times </h3>
    <div class="f-links">
        <a href="#"> Opinions </a>
        <a href="#"> Contact Us </a>
        <a href="#"> Accounts </a>
    </div>

    <hr class="sub-hr">
    <div class="f-legal">
        <a href="#"> © 2024 Lethil Trust </a>
        <a href="#"> Privacy Policy </a>
        <a href="#"> Terms of Service </a>
        <a href="#"> About Us </a>
        <a href="#"> Site Map </a>
    </div>

</footer>
{{ end }}

